<div class="mobile-footer">
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <img src="/assets/search.svg" alt="" width="20">
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="" class="snipcart-checkout"><img src="/assets/shopping-bag-dark.svg" alt="" width="20"></a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="" class="snipcart-customer-signin"><img src="/assets/user.svg" alt="" width="20"></a>
          </div>
        </div>
      </nav>
</div>