<div class="section">
    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8 column-featured">
              <div class="tile">
                <div class="tile is-parent">
                  <article class="tile is-child box" style="background:url(/uploads/massnew.JPG) no-repeat center;background-size:cover;display:flex;align-items:flex-end;">
                        <h2 class="title is-6 has-text-centered">Shop Magnetic Lashes</h2>
                  </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box" style="background:url(/uploads/baddie-2.JPG) no-repeat center;background-size:cover;height:200px;display:grid;align-items:flex-end;justify-content:left">
                        <h2 class="title is-6 has-text-centered">Shop Magnetic Lashes</h2>
                    </article>
                    <article class="tile is-child box" style="background:url(/uploads/group-3.jpeg) no-repeat center;background-size:cover;height:200px;display:grid;align-items:flex-end;justify-content:left">
                        <h2 class="title is-6 has-text-centered">Shop Magnetic Lashes</h2>
                    </article>
                  </div>
              </div>
            </div>
            <div class="tile is-parent column-featured">
              <article class="tile is-child box" style="background:url(/uploads/blue-purple-pen-1.jpeg) no-repeat center;background-size:cover;display:flex;align-items:flex-end;">
                <h2 class="title is-6 has-text-centered">Shop Magnetic Lashes</h2>
            </article>
            </div>
          </div>
    </div>
</div>