<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h1 class="title is-3 intro-title">Welcome to Corwink Cosmetics - Handmade Luxury Lashes</h1>
            </div>
            <div class="column">
                <div class="content">
                    <p>Our lashes are either Real Siberian Mink or Faux Mink. Our Faux Mink Lash styles come in all different types of materials to choose from to fit your lash needs such as High Quality Synthetic Fibers, Silk, and even Human Hair!</p>
                    <div class="is-block">
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>